<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		{{!-- <script src="../../models/"></script> --}}
		{{!-- <link rel="stylesheet" href="/assets/css/style.css" type="text/css"/> --}}
		<title>Fee Lancer</title>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
