<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>FeeLancer Profile</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"
    />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
    <!-- navbar -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand is-transparent">
        <img
          src="assets/img/logo.png"
          width="50"
          style="margin: 10px 40px;"
        />

        <a
          role="button"
          class="navbar-burger burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a
            id="home-button-nav"
            class="navbar-item">
            Home
          </a>

          <a
            id="profile-button-nav"
            class="navbar-item">
            Profile
          </a>
          <a
            id="invoices-button-nav"
            class="navbar-item">
            Invoices
          </a>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a
                id="signup-button"
                class="button is-primary"
                style="background-color: forestgreen;"
              >
                <strong>Sign up</strong>
              </a>
              <a
                id="login-button"
                class="button is-light">
                Log in
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>

  {{{body}}}
    
          <hr>
      <div class="button-container">
        <button
          id="contactme-button"
          class="button is-large"
          style="background-color: forestgreen; color: white;"
        >
          Contact Me
        </button>

        <i id="facebook-button" class="fab fa-facebook-square fa-3x"></i
        ><i id="instagram-button" class="fab fa-instagram fa-3x"></i
        ><i id="github-button" class="fab fa-github-alt fa-3x"></i>
      </div>
    <script type="text/javascript" src="./js/profile.js"></script>
</html>
