<h1>Create User Profile</h1>

<p>Fill All Empty Fields</p>

<form action="/action_page.php">
  First name:
  <br>
  <input type="text" name="firstName">
  <br>
  Last name:
  <br>
  <input type="text" name="lastName">
  <br>
  Username:
  <br>
  <input type="text" name="userName">
  <br>
  Email:
  <br>
  <input type="text" name="email">
  <br>
  Phone Number:
  <br>
  <input type="text" name="phone">
  <br>
  <input type="submit" value="Submit">
</form> 