.big-container {
    display: block;
    width: 60%;
    margin: 0 auto;
}
.progress {
    display: block;
    width: 95%;
    margin: 20px auto;
}

.header {
    display: block;
    font-size: 24px;
    text-align: center;
}

#logo {
    display: block;
    margin: 0 auto;
}

h2 {
    text-align: center;
}

#continue-button {
    margin-bottom: 50px;
    background-color: forestgreen;
    color: white;
    border: hidden;
}