.big-container {
    display: block;
    width: 60%;
    margin: 0 auto;
}
.progress {
    display: block;
    width: 95%;
    margin: 20px auto;
}

.header {
    display: block;
    font-size: 24px;
    text-align: center;
}

#logo {
    display: block;
    margin: 0 auto;
}

h2 {
    text-align: center;
}

#continue-button {
    margin-bottom: 50px;
    background-color: forestgreen;
    color: white;
    border: hidden;
}

#upload-button {
    width: 100%;
    background-color: forestgreen;
    color: white;
}

.line-through {
    text-decoration: line-through;
}

.card {
    float: right;
    width: 50%;
    margin: 1%;
}

.left {
    float: left;
}

hr {
    clear: both;
}

#job-title {
    margin-bottom: 30px;
}

.button-container {
    margin: 0 auto;
    width: 60%;
}
.is-large {
    float: right;
    width: 25%;
}

.fab {
    width: 100px !important;
}
